body{
    margin: 0;
}
/* .container{
    background-color: rgb(19, 17, 17);
    width: 100%;
    padding: 0;
    margin: 0;
} */
.top{
    background-color: darksalmon;
    position:static;
    display: flex;
    border: solid red;
    height: 100px;
    width: 100%;
    
}
#head{
    position: fixed;
    line-height: 80px;
    margin-left: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    font-style: normal;
}
#head:hover{
    color: brown;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
#bttn{
    height: 50px;
    width: 500px;
    position: fixed;
    margin-left: 370px;
    margin-top: 20px;
}
#bttn1{
    height: 50px;
    position: fixed;
    margin-left: 890px;
    margin-top: 20px
}
#khmm{
    line-height: 80px;
    position: fixed;
    margin-left: 1100px;
    font-family: "Squada One", serif;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
#login{
    height: 40px;
    width: 100px;
    position: fixed;
    margin-left: 1230px;
    margin-top: 20px;
    text-decoration: none;
}
.navi{
    margin-top: 10px;
    border: solid;
    display: inline-flex;
    height: 50px;
    width: 100%;
}
div ul li{
    display: inline-flex;
    margin-left: 10px;
    line-height: 40px;
}
.right{
    margin-left: 500px;
}
.premier{
    border: solid;
    height: 400px;
}
#pmr{
    margin-top: 10px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#pmr:hover{
    color: brown;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
#pic{
    height: 300px;
    width: 200px;
    margin-left: 20px;
    box-shadow: 15px 15px 15px 0 rgb(116, 114, 116);
}
.movie{
    padding-top: 10px;
    display: flex;
}
.studio{
    margin-top: 20px;
    border: solid;
    height: 400px;
}
.music{
    padding-top: 10px;
    display: flex;
    margin-left: 10px;
}
#gana{
    height: 300px;
   width: 200px;
    margin-left: 20px;
    box-shadow: 15px 15px 15px 0 rgb(116, 114, 116);
}
.cart{
    margin-top: 20px;
    border: solid;
    height: 400px;
}
.cartoon{
    padding-top: 10px;
    display: flex;
    /* margin-left: 10px; */
}
#ani{
    height: 300px;
   width: 200px;
    margin-left: 20px;
    box-shadow: 15px 15px 15px 0 rgb(116, 114, 116);
}
.stand{
    margin-top: 20px;
    border: solid;
    height: 400px;
}
.joke{
    padding-top: 10px;
    display: flex;
}
#Comedy{
    height: 300px;
   width: 200px;
    margin-left: 20px;
    box-shadow: 15px 15px 15px 0 rgb(116, 114, 116);
}
.sport{
    margin-top: 20px;
    border: solid;
    height: 400px;
}
.ball{
    padding-top: 10px;
    display: flex;
}
#eve{
    height: 300px;
   width: 200px;
    margin-left: 20px;
    box-shadow: 15px 15px 15px 0 rgb(116, 114, 116);
}
.last{
    margin-top: 20px;
    border: solid;
    height: 150px;
}
.app{
   text-align: center;
   line-height: 60px;
}
#link:hover{
    /* border: blanchedalmond; */
    border: solid white;
    background-color: white;
    color: white;
}
#link{
   font-size: 30px;
   margin-left: 10px;
}
.fa-youtube{
   color:red;
}
.fa-facebook{
    color:rgb(19, 146, 231);
}
.fa-instagram{
    color: rgb(241, 9, 191);
}
.fa-twitter{
    color:rgb(13, 99, 156);
}
.fa-yahoo{
    color:rgb(4, 55, 88);
}
.fa-pinterest{
    color:red;
}
#cpy{
    margin:0 0 50px 0;
    text-align: center;
}
