body{
    margin: 0;
}
.top{
    background-color: darksalmon;
    position:static;
    display: flex;
    border: solid red;
    height: 100px;
    width: 100%;
    
}
#head{
    position: fixed;
    line-height: 80px;
    margin-left: 30px;
}
#bttn{
    height: 50px;
    width: 500px;
    position: fixed;
    margin-left: 370px;
    margin-top: 20px;
}
#bttn1{
    height: 50px;
    position: fixed;
    margin-left: 890px;
    margin-top: 20px
}
#khmm{
    line-height: 80px;
    position: fixed;
    margin-left: 1100px;
    font-family: "Squada One", serif;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
#login{
    height: 40px;
    width: 100px;
    position: fixed;
    margin-left: 1230px;
    margin-top: 20px;
    text-decoration: none;
}
.navi{
    margin-top: 10px;
    border: solid;
    display: inline-flex;
    height: 50px;
    width: 100%;
}
div ul li{
    display: inline-flex;
    margin-left: 10px;
    line-height: 40px;
}
.right{
    margin-left: 500px;
}
.premier{
    margin-top: 20px;
    border: solid;
    /* display: flex; */
    height: 500px;
}
#pmr{
    text-align: center;
  
}
/* .movie li{
    display: flex;
} */
#pic{
   
    height: 200px;
    width: 100%;
    position: relative;
    justify-content: space-between
#list{
   display: inline-flex;
}